*, body {
    margin: 0;
    padding: 0;
    font-family: 'Vollkorn';
    overflow-x: hidden;
  
  }
  
  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .nav-bar li {
    list-style-type: none;
    cursor: pointer;
    font-size: 1.04vw;
    letter-spacing: 0px;
    text-align: left;
    color: #585858;
  }
  
  #active {
    color: #00AA9E;
  }
  
  nav ul {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: center;
    gap: 30px;
  }
  
  .homepage {
  
    background-size: cover;
    background-image: url('assests/Rectangle 7.png');
    background-repeat: no-repeat;
  }
  
  .icon {
    margin-top: 17px;
    width: 151px;
    height: 134px;
    overflow: visible;
  }
  
  main {
   
    background-size: cover;
    background-image: url('assests/RectangleBackgorund.png');
    background-repeat: no-repeat;
    opacity: 1;
    z-index: 1;
  }
  
  .content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 10% 10% 10% 10%;
    color: #FFFFFF;
  }
  
  .headline {
    font-family: "Merienda", cursive;
    font-weight: 300;
    font-size: 2.86vw;
  }
  
  .content h1 {
    font-weight: 300;
    font-size: 2.6vw;
    text-align: center;
  }
  
  .content p {
    text-align: center;
    font-size: .83vw;
    display: flex;
    flex-direction: column;
  
  }
  button {
    padding: 30px 30px 30px 30px;
    border: 1px solid white;
    background: transparent linear-gradient(237deg, #00AA9E 0%, #004D47 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    opacity: 1;
    color: white;
    font-size: .937vw;
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow: visible;
  }
  .button-div{
    overflow:visible;
   margin-top:20px;
  }
  
  
  .glow-button:before {
    content: '';
    background: linear-gradient(45deg, #039d79, #00ffd5, #1aaad2, #05488f, #4e96d5);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }
  
  .glow-button:active {
    background: transparent linear-gradient(237deg, #00AA9E 0%, #004D47 100%) 0% 0% no-repeat padding-box;
  }
  
  .glow-button:active:after {
    background: transparent;
  }
  
  .glow-button:hover:before {
    opacity: 1;
  }
  
  .glow-button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent linear-gradient(237deg, #00AA9E 0%, #004D47 100%) 0% 0% no-repeat padding-box;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
  
  
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    z-index: 10;
    width: 30px;
    height: 24px;
    justify-content: space-between;
  }
  
  .hamburger span {
    height: 3px;
    width: 100%;
    background: #585858;
    border-radius: 5px;
    transition: all 0.3s ease;
    position: absolute;
  }
  
  .hamburger span:nth-child(1) {
    top: 0;
  }
  
  .hamburger span:nth-child(2) {
    top: 10px;
  }
  
  .hamburger span:nth-child(3) {
    top: 20px;
  }
  
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
  }
  
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px;
  }
  
  
  
  
  
  
  @media (max-width: 850px) {
    nav ul {
      display: none;
      flex-direction: column;
      gap: 0;
      background-color: #fff;
      position: absolute;
      top: 75px;
      right: 0;
      width: 50%;
      text-align: center;
      margin-left: 20px;
      z-index: 1;
    }
  
  
    .hamburger {
      display: flex;
    }
  
    .nav-bar.active {
      display: flex;
    }
  
    .nav-bar li {
      padding: 15px 15px;
      width: 100%;
      font-size: 4.5vw;
      color: #b0b1b4;
    }
    .nav-bar li:hover{
    background-color: #628da2;
    color: white;
    }
    header{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin: 2% 2% 2% 2%;
  
    }
    .icon img{
        width:75px;
    height: 60px;
  
    }
    .icon{ width:75px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        margin-bottom: 10px;
        overflow: visible;
  
  
    }
   nav{
    margin-right: 20px;
   }
   button{
  padding: 10px 10px 10px 10px;
  font-size: 25px;
   }
   .homepage {
  background-position: center;
    background-size: cover;
    background-image: url('assests/Rectangle 7.png');
    background-repeat: no-repeat;
     z-index:1;
  
  }
  
    .button-div{
      overflow:visible;
  margin-bottom:50px;
      margin-top:20px;
      
    }
  main {
   background-position: center;
    background-size: cover;
  height:100%;
    background-image: url('assests/RectangleBackgorund.png');
    background-repeat: no-repeat;
    opacity: 1;
    z-index: 1;
  
  }
  .content h1{
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align:right;
    margin-right:right;
  
  }
  
  .headline{
    font-size: 35px;
  }
  .content p{
    font-size: 16px;
   display: block;
    text-align:left;
  
  }
  
  #explore{
    text-align: center;
    margin-top:30px;
  }
  
  .content{
    padding-left: 15px;
    padding-right: 15px;
  
   display: flex;
  flex-direction: column;
  gap: 60px;
  
  
  }
  .main-head {
    margin-bottom:20px;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 1s ease-out, opacity 1s ease-out;
  }
  
  .main-head.animate {
    animation: slideInFromRight 1s forwards;
  }
  }
  
  @keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
  }
  
  
  